.plus-button {
  border: solid 1px var(--darkHeading);
  color: var(--darkHeading);
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin: 8px 0 24px 0;
}

.plus-button p {
  margin-left: 6px;
}

.plus-button:hover {
  color: tomato;
  border-color: tomato;
}
