#edit-attendance-form {
  height: 80vh;
  min-width: 50vw;
}

#edit-attendance-form h1 {
  font-size: 24px;
}

.form-header .icon-button {
  border: none;
}

#form-attendance-list {
  overflow-y: scroll;
  margin: 0 auto;
  padding: 8px 56px;
  background-color: #3dc50c36;
  border-radius: 20px;
}
