#attendance-question {
  /* margin: 15vh 0 0 0; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(90vh - 64px);
}

#attendance-question h1 {
  margin: 16px 0 8px 0;
  font-size: 28px;
}

.answer-button,
#next-button {
  width: unset;
  border: solid 3px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 500;
}

.answer-button.active {
  color: yellow;
  opacity: 0.9;
}
