#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

#search-form .MuiOutlinedInput-notchedOutline {
  border: none;
}

#search-form button {
  padding: 0;
  border: none;
}

#search-form button:hover {
  background-color: var(--lightBG);
  border-radius: 50%;
}

.MuiInputBase-root {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.MuiFormLabel-root {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.MuiIconButton-root {
  color: white;
}
