#search-form {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

#search-form .MuiOutlinedInput-notchedOutline {
  border: none;
}

#search-form button {
  padding: 0;
  border: none;
}

#search-form button:hover {
  background-color: var(--lightBG);
  border-radius: 50%;
}
