.edit-buttons {
  margin-bottom: 0;
}

.class-card:nth-child(4n),
.class-card:nth-child(4n) svg {
  color: var(--card1);
}

.class-card:nth-child(4n + 1),
.class-card:nth-child(4n + 1) svg {
  color: var(--card2);
}

.class-card:nth-child(4n + 2),
.class-card:nth-child(4n + 2) svg {
  color: var(--card3);
}

.class-card:nth-child(4n + 3),
.class-card:nth-child(4n + 3) svg {
  color: var(--card4);
}

.class-card svg {
  fill: currentColor;
}
