@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

:root {
  --darkHeading: #232323;
  --lightHeading: #ffffff;
  --darkBG: #232323;
  --lightBG: #fff;
  --card1: orange;
  --card2: rgb(25, 154, 240);
  --card3: rgb(7, 194, 7);
  --card4: purple;
  --hoverAccent1: #565656;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  margin: 5vh 0;
}

h2 {
  margin: 32px 0 16px 0;
}

h4 {
  margin: 12px 0;
}

.dark-theme {
  background-color: #222;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #232323;
}

/* .App {
  background-color: #343434;
} */

a {
  text-decoration: none;
  color: inherit;
}

a.underlined-link {
  text-decoration: underline;
}

ul {
  list-style: none;
}

button {
  border-radius: 10px;
  padding: 0 4px;
  background: transparent;
  /* border: solid rgba(0, 0, 0, 0.5) 1px; */
  border: none;
}

#close-button {
  width: 36px;
  align-self: flex-end;
}

.centered-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-row button {
  border: solid 1px var(--darkHeading);
  padding: 4px 12px;
}

.card-buttons.edit-buttons button {
  color: whitesmoke;
}

.text-button {
  margin: 36px;
  width: 15vw;
  padding: 4px;
  color: inherit;
  border: solid 1px;
  border-radius: 10px;
}

.icon-button {
  padding: 4px;
  color: inherit;
}

button:hover {
  border-color: tomato;
  color: tomato;
}

button:hover path {
  fill: tomato;
}

#main-container {
  margin: 10vw;
  /* minHeight = screen height - margins - nav height */
  min-height: calc(100vh - 10vh - 64px);
}

.admin-page {
  display: flex;
  flex-direction: column;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  width: 80vw;
}

#login-container h1 {
  margin-top: 25vh;
}

/* .section-title {
  display: flex;
  justify-content: space-between;
} */

/* .card {
  margin: 4vh 0;
  border: 2px solid #eb8809;
  color: #eb8809;
  padding: 2vh;
  border-radius: 10px;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
}

.card-buttons button {
  border: none;
}

button:hover path {
  fill: tomato;
}

.card-content {
  margin: 24px 0;
} */

.modal {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal form,
.modal-content {
  background-color: white;
  padding: 5vh;
  border-radius: 10px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.modal-content.small-modal {
  height: unset;
}

.form-item {
  margin-bottom: 24px;
}

input,
select {
  margin-left: 12px;
  padding: 4px 8px;
}

input {
  border-radius: 10px;
  border: solid 1px;
}

#participant-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90vw;
}

.icon-text-buttons {
  margin-right: 5vw;
  flex-direction: column;
  position: relative;
  top: 0;
}

.icon-text-buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 220px;
  margin: 24px 0;
  padding: 4px 12px;
  border: solid 1px black;
  border-radius: 10px;
}

.icon-text-buttons button p {
  margin-left: 12px;
}

.table-row.class-item {
  flex-direction: row;
}

.disabled {
  opacity: 50%;
}

.admin-page {
  background-color: white;
}

@media screen and (min-width: 420px) {
  #main-container {
    margin: 5vw;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  .card {
    width: 260px;
  }

  #participant-detail-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 920px) {
  #main-container {
    display: flex;
    justify-content: space-evenly;
  }

  .detail-container {
    flex-direction: row;
  }

  .admin-page {
    flex-direction: row;
  }

  #login-container h1 {
    margin-top: 15vh;
  }

  #group-section {
    max-width: 55vw;
    margin-right: 5vw;
  }

  #question-section {
    max-width: 30vw;
  }

  #class-section {
    width: 55vw;
    margin-right: 5vw;
  }

  #participant-section {
    width: 25vw;
  }

  .card {
    width: 300px;
  }

  /* .table-row {
    width: 66vw;
  } */

  .table-row.class-item {
    width: 260px;
  }
}
