@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#main-container {
  margin: 5vw;
  font-family: "Montserrat", sans-serif;
  /* minHeight = screen height - margins - nav height */
  min-height: calc(100vh - 10vh - 64px);
}
