/* #menu-button-container {
  justify-content: flex-end;
  display: flex;
  padding: 24px;
} */

nav {
  height: 64px;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}

.menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
}

.nav-menu-items {
  position: fixed;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: all 0.5s;
}

.nav-active {
  left: 0;
  transition: all 0.5s;
}

#close-menu-svg {
  color: white;
  stroke: white;
}

.nav-item {
  margin: 3vh 2vw;
  text-align: center;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 720px) {
  nav {
    width: 96vw;
    height: 64px;
    margin: 0 2vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-items {
    position: unset;
    display: flex;
  }

  .nav-item {
    margin: 0 2vw;
  }
}
